<!-- Wish list -->
<!DOCTYPE HTML>
<html>
<head>
    <title>Maphack | Play. Trade. Play.</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
    <div class="container">

        <!-- Top bar -->
        <div class="row-fluid top-container">
            <div class="span5">
                <img class="logo" src="../images/logo.png">
            </div>
            <div class="span4 offset8 signin-align">
                <span> {{ user_mail }} <a href="{{ logout }}">logout</a></span>
            </div>
        </div>
        <!-- End of top bar -->

        <!-- Main navigation -->
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/maphack">Home</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/inventory">Inventory</a></li>
                    <li><a href="/playlist">Playlist</a></li>
                    
                </ul>
            </div>
        </div>

        <form action="/profile/edit" method="post">
            <fieldset>
                <div class="row-fluid">
                    <div class="row-fluid">
                        <div class="span6">
                            <p>Display name:<br>
                                <input class="input-xlarge" type="text" name="display_name">
                            </p>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <p>More about yourself:<br>
                                <textarea class="input-block-level" name="bio" rows="5"> </textarea>
                            </p>
                        </div>
                    </div>
                    <p><input type="submit" value="Submit">
                </div>
            </fieldset>
        </form>

        <h4> Profile </h4>
        <div>
            Display name: {{ display_name }}<br>
            About myself: {{ bio }}
        </div>    
    </div>
</body>
</html>
