<!-- Front page for Giftbook -->
<!DOCTYPE HTML>
<html>
<head>
    <title>Maphack | Play. Trade. Play.</title>
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>
<body>
<div class="container">
    <!-- Top bar -->
    <div class="row top-container">
        <div class="span5">
            <img class="logo" src="../images/logo.png">
        </div>
        <div class="span3 offset9 signin-align">
            <span> Login with <a href="/maphack"><img src="../images/google.png"></a></span>
        </div>
    </div>
    <!-- End of top bar -->

    <!-- Main navigation -->
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span6">
            <img class="giftpic" src="../images/maphack.jpg">
        </div>
        <div class="span6">
            <div class="top-pad-one">
                <p> Don&rsquo;t want to buy any more games? <br>
                    Receiving games that are wrong for you?</p>

                <p> With Maphack, game-trading becomes effortless!</p>

                <p> List down the games that you&rsquo;d like to receive.<br>
                    Check out what others would like to trade for your games. </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
